/* ===== basicStyles ===== */
body {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
}

/* ===== End basicStyles ===== */
/* ===== header ===== */
.header {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
.header__logo {
  width: 10%;
  height: auto;
  text-align: center;
}
.header__logo img {
  width: 50%;
  height: auto;
  vertical-align: middle;
}
.header__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.header__line {
  display: flex;
  justify-content: space-between;
}
.header__line-color {
  width: 20%;
  height: 6px;
}
.header__line-color:nth-child(1) {
  background-color: #00668c;
}
.header__line-color:nth-child(2) {
  background-color: #048fb2;
}
.header__line-color:nth-child(3) {
  background-color: #04b4d0;
}
.header__line-color:nth-child(4) {
  background-color: #0485b5;
}
.header__line-color:nth-child(5) {
  background-color: #00668c;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header__btn {
  border: 2px solid #01a7c1;
  padding: 10px 15px;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #2386aa;
  text-transform: uppercase;
  transition: background-color 0.3s linear;
}
.header__btn:hover {
  background-color: #01a7c1;
  border-color: #2386aa;
  color: #ffffff;
}

/* navigation */
.nav {
  width: 50%;
  height: auto;
  text-align: center;
}
.nav__inner {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.nav__links {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-right: 40px;
}
.nav__links:last-child {
  margin-right: 0;
}
.nav__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #212121;
  text-transform: uppercase;
  position: relative;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #212121;
  transition: width 0.3s linear;
}
.nav__link:hover::after {
  width: 100%;
}

.hidden {
  position: relative;
}
.hidden .hidden__list {
  display: none;
  position: absolute;
  top: 15px;
  left: 0;
  margin: 0;
  font-size: 0;
  background-color: #fff;
  padding: 10px 0;
  text-align: left;
}
.hidden__links {
  font-size: 16px;
  list-style: none;
  margin-bottom: 10px;
  width: 250px;
  padding: 10px;
}
.hidden__links:last-child {
  margin-bottom: 0;
}
.hidden:hover .hidden__list {
  display: block;
}
.hidden__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #212121;
  text-transform: uppercase;
  position: relative;
}
.hidden__link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #212121;
  transition: width 0.3s linear;
}
.hidden__link:hover::before {
  width: 100%;
}

/* ===== End header ===== */
/* ===== loginModal ===== */
.modalBtn {
  cursor: pointer;
}

.simpleModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.simpleModal__content {
  background-color: #f4f4f4;
  margin: 7% auto;
  padding: 50px 20px;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalOpen;
  animation-duration: 1s;
  position: relative;
}

.closeBtn {
  color: #cccccc;
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 20px;
  font-size: 30px;
}
.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Tabs for modal user and doctor */
.simpleModal__body {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.simpleModal__tabs {
  width: 100%;
  height: auto;
  font-size: 0;
  position: relative;
  z-index: 2;
}
.simpleModal__tabs-desc {
  position: relative;
  top: -1px;
  z-index: 1;
}

.tab-h {
  display: inline-block;
  width: 33.3333%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #01658b;
  height: auto;
  border: 1px solid #01a7c1;
  border-right: none;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}
.tab-h:last-child {
  border-right: 1px solid #01a7c1;
}
.tab-b {
  width: 100%;
  height: auto;
  display: none;
  padding: 20px;
  border: 1px solid #01a7c1;
  text-align: center;
}

.active {
  border-bottom-color: white;
}

/*================================*/
/* ===== End loginModal ===== */
/* ===== preview ===== */
.preview {
  background-color: #969696;
  background-image: url("../img/preview/preview-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: auto;
  text-align: center;
  border-bottom: 7px solid #969696;
}
.preview__title {
  padding: 200px 0 20px 0;
  position: relative;
}
.preview__title::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 10px;
  bottom: 10px;
  left: 40%;
  background-color: #01a7c1;
}
.preview__title h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 58px;
  text-transform: uppercase;
  color: #ffffff;
}
.preview__desc {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 80px;
}
.preview__desc p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.preview__btn {
  margin-bottom: 20px;
}
.preview__btn a {
  display: inline-block;
  vertical-align: top;
  padding: 20px 15px;
  background-color: #01a7c1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 0.5;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
}
.preview__btn a:hover {
  background-color: #038ba0;
  color: #fff;
  border-radius: 3px;
}
.preview__arrow {
  padding-bottom: 80px;
}

/* ===== End preview ===== */

/*# sourceMappingURL=main.css.map */
